<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

<!--Stylesheet For Metronic Themes-->
<link rel="stylesheet" href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css">
<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<!--End Stylesheet For Metronic Themes-->

<link rel="stylesheet" href="/assets/css/style.css">

<!--Script For Metronic-->
<!--end::Scrolltop-->
<!--end::Main-->
<script>var hostUrl = "assets/";</script>
<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script defer src="/assets/plugins/global/plugins.bundle.js"></script>
<script defer src="/assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Vendors Javascript(used by this page)-->
<script defer src="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
<!--end::Page Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)-->
<script defer src="/assets/js/custom/widgets.js"></script>
<script defer src="/assets/js/custom/apps/chat/chat.js"></script>
<script defer src="/assets/js/custom/modals/create-app.js"></script>
<script defer src="/assets/js/custom/modals/upgrade-plan.js"></script>
<!--end::Page Custom Javascript-->
<!--end::Javascript-->
<!--End Script For Metronic-->
<script defer src="/assets/js/bootstrap.bundle.js"></script>
<script defer src="/assets/js/main.js"></script>

<title>Document</title>




