<%- include('partials/head') %>

<div>
  <div>
    <label for="email">email</label>
    <input type="text" name="email" placeholder="Email" />
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text" name="password" placeholder="Password" />
  </div>
</div>
